/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

.flex{
  display: flex;
}

header a, footer a, .btn{
  text-decoration: none;
}

.btn{
  background-color: #0061fe;
  color: #ffffff;
  padding: 10px 20px;
}

/* header   */
header{
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 1%;
}

header div.flex{
  gap: 20px;
  align-items: center;
}

header div a img{
  position: relative;
  top: 5px;
}

/* main */
h1{
  width: 60%;
  margin: 0 auto -60px auto;
  padding: 40px 0 0 0;
  font-size: 50px;
}

section.jumbo div.flex{
  position: relative;
  left: 5%;
  top: 90px;
  width: 70%;
  margin: -20px auto 100px auto;
}

section.jumbo{
  background-color: #b4d0e6;
}

section.jumbo div.flex img{
  width: 70%;
  object-fit: contain;
}

section.jumbo p{
  padding-bottom: 30px;
}

section.jumbo p:nth-child(3){
  margin: 30px 0 0 0;
}

.arrow{
  font-size: xx-large;
}

section.jumbo div.flex div div:last-child{
  height: 60px;
}

hr{
  color: #f5f5f5;
}

/* sezione1 moduli*/
.selectround, .round{
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 15px;
}



/* footer */
footer{
  background-color: #000000;
  color: #ffffff;
}

footer .flex{
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  line-height: 35px;
}

footer ul, .lingua{
  list-style: none;
  font-size: small;
}

footer section{
  padding: 30px 0;
  width: 70%;
  margin: 0 auto;
}

.lingua{
  padding-top: 20px;
  border-top: 1px solid #ffffff;
  display: inline-block;
  word-spacing: 5px;
}