/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

.flex{
  display: flex;
  align-items: center;
}

a{
  text-decoration: none;
}

.btn{
  background-color: #0061fe;
  color: white;
  padding: 10px 20px;
}

/* header   */
header{
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 1%;
}

header div.flex{
  gap: 20px;
}

header div a img{
  position: relative;
  top: 5px;
}